@import "../../styles/variables";

.sectionNews {
  width: 100%;
  padding: $main-paddingY $main-paddingX 0;

  .sectionTitle {
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    width: 100%;
  }
}

.contentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
