.arrowContainer {
  position: relative;
  width: 160px;
  height: 118px;
  background-color: #ffffff;
}

.arrow {
  position: absolute;
  top: 59px;
  left: 50px;
  width: 50px;
  height: 3px;
  background-color: #000000;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 0px;
    width: 30px;
    height: 3px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    top: 10px;
  }
  &::after {
    transform: rotate(-45deg);
    top: -10px;
  }
}
