@import "../../styles/variables";

.offers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: $main-paddingY $main-paddingX 0;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
