.contentContainer {
  width: 20%;
  padding-left: 0;
  //   padding-right: 5%;
  padding-top: 8%;

  img {
    flex-grow: 0;
    margin-bottom: 10%;
  }

  p {
    color: #000000;
    line-height: 38px;
    font-size: 28px;
  }
}
