.header {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;

  h1 {
    position: absolute;
    bottom: 330px;
    left: 175px;
  }

  h2 {
    width: 900px;
    position: absolute;
    bottom: 180px;
    left: 175px;
    font-weight: normal;
  }
}
