@import "../../styles/variables";

.sectionOffice {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: $main-paddingY 0 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 8%;
    left: 7%;
    height: 20px;
    width: 610px;
    background-color: #000000;
  }

  .titleContainer {
    position: absolute;
    top: 50%;
    left: 0;
    width: 38%;
    padding-left: 8%;

    .officeTitle {
      color: #000000;
      font-size: 6.5rem;
      font-weight: bold;
      line-height: 7.5rem;
    }
  }
}

.backgroundContainer {
  width: 85%;
  height: 642px;
  background-size: cover;
  background-repeat: no-repeat;
}

.decoration {
  position: absolute;
  top: 6%;
  right: 9%;
  width: 280px;
  height: 15%;
}
